* {
    box-sizing: border-box;    
    font-family:微軟正黑體;
}


.menu{
    position: fixed;
    top:40px;
    left:50px;
    z-index:98;
    height:30px;
    width: 30px;
    cursor: pointer;
}
.phonemenu{
    position:fixed;
    z-index:99;
    padding:50px;
    text-align: center;
    top:10px;
    left:42px;
    background-color:#B8A4A5;
    line-height: 30px; 
    display: none
}
.phonemenu.active{
    display: block;
}
.web{
    width:100%;
    position: relative;
    background-color: #eeeeee;
}
.header{
    /* background-image: url("../img/logo.jpg"); */
    background-image:url("../img/LOGO.jpg");
    background-size: cover;
    width:100%;
    height:100vh;
}
.street{
    width:50.73%;
    height: 568px;
    float:left;
    background-image: url("../img/street view.jpg");
    background-size: cover;
}
.text1{
    width:31.26%;
    height: 568px;
    float:left;
    font-size:18px;
    text-align:center;
    padding:140px 30px;
    line-height: 40px;
}
.think{
    width: 18.47%;
    height: 568px;
    float:left;
    font-size:48px;
    text-align:right;
    padding:25px 0px;
}
.text2{
    width:32.26%;
    height: 568px;
    float:left;
    font-size:14px;
    padding:60px 20px;
    line-height:30px;
}
.dai{
    width:31.62%;
    height: 568px;
    float:left;
    background-image: url("../img/Dai Shengyi.jpg");
    background-size: cover;
}
.door{
    width:50.73%;
    height: 568px;
    float:left;
    background-image:url("../img/door.jpg"); 
}
.text3{
    width:31.62%;
    height: 568px;
    float:left;
    font-size:18px;
    padding:90px 25px;
    line-height: 46px;
}
.species{
    height: 568px;
    float:left;
    font-size:48px;
    text-align:left;
    padding:16px 0px;
}
.mess{
    width: 18.47%;
    height: 568px;
    float:left;
    font-size:48px;
    text-align:right;
    padding:16px 0px;
}
.text4{
    width:32.26%;
    height: 568px;
    float:left;
    font-size:18px;
    padding:80px 20px;
    line-height:50px;
}
.indoor{
    width:31.62%;
    height: 568px;
    float:left;
    background-image: url("../img/indoor.jpg");
}
.gallery{
    width:100%;
    position: relative;
    border-top:1px solid black;
}
.galtext{
    width:100%;
    height:158.762px;
    border-top:1px solid black;
    text-align: center;
    line-height: 158px;
    font-size:32px;
}
.photo{
    width:100%;
    height:580px;
    position: relative;
}
.left{
    width: 40%;
    height: 497px;
    position: absolute;
    left:125px; 
}
.left.l1{
    background-image: url("../img/outside.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}
.right{
    width: 40%;
    height: 497px;
    right:125px;
    position: absolute;
}
.right.r1{

    background-image:url("../img/inside 1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.left.l2{
    background-image: url("../img/coffee.jpg");
    background-size: cover;
}
.right.r2{
    background-image: url("../img/indoor2.jpg");
    background-size: cover;
}
.left.l3{
    background-image:url("../img/stairs.jpg");
    background-size: cover; 
}
.right.r3{   
    background-image: url("../img/2f.jpg");
    background-size: cover;
}
.left.l4{
    background-image: url("../img/clock1.jpg");
    background-size: cover;
}
.right.r4{
    width: 40%;
    height: 497px;
} 
.map{
    margin-left:125px;
   
}
.map_t{
    text-align: center;
    line-height: 120px;
    font-size:32px;
    margin-right:153px;
    border-top:1px solid black;
}
.footer{
    width:100%;
    height: 80px;
    border-top:1px solid black;
    bottom:0px;
    text-align: center;

}
.gallery img{
    width:18px;
    height:18px;
    margin:0 10px;
    
}
.gallery .photo .r4 .img{
    margin:100px 0;
    letter-spacing: 2px;
    font-size:18px;
}
.gallery .photo .r4 .img a{
    text-decoration:none;
    color:#1b1600 ;
}
 /* @media screen and (max-width:1325px){
    .left{
        left:0;
    }
    .right{
        right:0;
    }
     .text2{
        font-size:6px;
        padding:20px;
      
     }
}  */