/* Basic sample */
*{
	box-sizing:border-box;
}
body{
	overflow:hidden;
	background-color:#fcfcfc;
	margin:0;
	padding:0;
}
h6{
	margin:0px;
	padding:12% 0 0 0 ;
	font-size:30px;
}
.flipbook-viewport{
	/* overflow:hidden; */
	width:100%;
	height:100vh;
	background-image:url("../pages/data.jpg");
	background-size: cover;
	background-position:center;
}

.flipbook-viewport .container{
	position:absolute;
	top:18%;
	left:23.5%;
	margin:auto;
	width:100%;
	height:100vh;
	
}

.flipbook-viewport .flipbook{
	width:53.38%;
	height:65.46%;
	/* left:-461px;
	top:-300px; */
}

.flipbook-viewport .page{
	width:26.69%;
	height:65.46vh;
	/* background-color:white; */
	background-repeat:no-repeat;
	background-size:100% 100%;
}

.flipbook .page{
	-webkit-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-moz-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-ms-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-o-box-shadow:0 0 20px rgba(0,0,0,0.2);
	box-shadow:0 0 20px rgba(0,0,0,0.2);
}

.flipbook-viewport .page img{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin:0;
}

.flipbook-viewport .shadow{
	-webkit-transition: -webkit-box-shadow 0.5s;
	-moz-transition: -moz-box-shadow 0.5s;
	-o-transition: -webkit-box-shadow 0.5s;
	-ms-transition: -ms-box-shadow 0.5s;

	-webkit-box-shadow:0 0 20px #ccc;
	-moz-box-shadow:0 0 20px #ccc;
	-o-box-shadow:0 0 20px #ccc;
	-ms-box-shadow:0 0 20px #ccc;
	box-shadow:0 0 20px #ccc;
}
.mol{
	position: fixed;
	width: 16.77%;
	height: 2.03vh;
	top:53%;
	left:55%;
	z-index: 99;
	display:none;
}
.mob{
	display:none;
	background-color: #120f12;
	position: relative;
}
.index{
	background-image:url("../pages/data_m1.jpg");
	background-size: contain;
	background-position:center;
	background-repeat: no-repeat;
	width: 80%;
	height: 100vh;
} 
.index p{
	font-size:30px;
	line-height: 35px;
	
}
.q1{
	display: none;
	background-image:url("../pages/data_m2.jpg");
	background-size: contain;
	background-position:center;
	background-repeat: no-repeat;
	width: 80%;
	height: 100vh;
}
.yes{
	font-size:60px;
	position: fixed;
	left:25%;
	font-family:Haettenschweiler;
	cursor: pointer;
	top:60%;
}
.no{
	font-size:60px;
	position: fixed;
	right:28%;
	top:60%;
	font-family:Haettenschweiler;
	-webkit-text-fill-color:#120f12;
	-webkit-text-stroke: 2px  #f0bc63;
	cursor: pointer;
}
.bye{
	font-size:60px;
	background-image:url("../pages/data_m5.jpg");
	background-size: contain;
	background-position:center;
	background-repeat: no-repeat;
	width: 80%;
	height: 100vh;
}
.moll{
	cursor: pointer;
	border:2px solid #f0bc63;
	font-size:80px;
	font-family:Felix Titling;
	color: #f0bc63;
}
.q2{
	display: none;
	background-image:url("../pages/data_m3.jpg");
	background-size: contain;
	background-position:center;
	background-repeat: no-repeat;
	width: 80%;
	height: 100vh;
}
.q3{
	display: none;
	background-image:url("../pages/data_m4.jpg");
	background-size: contain;
	background-position:center;
	background-repeat: no-repeat;
	width: 80%;
	height: 100vh;
}
.intr{
	display: none;
	background-image:url("../pages/data_m6.jpg");
	background-size: contain;
	background-position:center;
	background-repeat: no-repeat;
	width: 80%;
	height: 100vh;
}
.intr h1{
	font-family:Felix Titling;
	font-size:80px;
	margin:0px;
	padding:3%;
}
.intr ul{
	list-style-type: none;
	
	padding: 0;

}
.intr li{
	padding:5%;
	font-size:25px;
}
.btn{
	font-size:30px;
	border:2px solid #f0bc63;
	padding:1px;
	cursor: pointer;
	margin:15%;
	padding:2%;
	display: inline;
}
.gal{
	display: none;
	background-image:url("../pages/data_m7.jpg");
	background-size: contain;
	background-position:center;
	background-repeat: no-repeat;
	width: 80%;
	height: 100vh;
}
.inf{
	display: none;
	background-image:url("../pages/data_m8.jpg");
	background-size: contain;
	background-position:center;
	background-repeat: no-repeat;
	width: 80%;
	height: 100vh;
}
h3{
	margin:10% 0 0 0;
	font-size:30px;
}
a{
	font-size: 20px;
	text-decoration:none;
}
a:link {
	color:  #9b9482
	}
a:visited {
	color:  #9b9482
}
.inf p{
	color:  #9b9482;
	font-size: 20px;
	line-height: 30px;
}
@media screen and (max-width:1000px){
    .flipbook-viewport{
		display:none;
	}
	.mob{
		display:block;
	}
}