* {
    box-sizing: border-box;    
    font-family:微軟正黑體;
}
.menu{
    position: absolute;
    top:29%;
    left:5%;
    z-index:98;
    height:30px;
    width: 30px;
    cursor: pointer;
}
.phonemenu{
    position:fixed;
    z-index:99;
    padding:50px;
    text-align: center;
    top:10px;
    left:-250px;
    background-color:#B8A4A5;
    line-height: 30px;
}
.phonemenu.active{
    left:60px;
}
