@charset "UTF-8";
* {
  font-family: 微軟正黑體;
}

.header {
  background-color: #9E1604;
  height: 139px;
}

.header .header-content {
  width: 1150px;
  position: relative;
  margin: 0 auto;
}

.header .header-content .logo_box .logo {
  height: 109px;
  width: 109px;
  position: absolute;
  left: 0;
  top: 15px;
}

.header .header-content .logo_box .logo_text {
  font-size: 32px;
  color: white;
  position: absolute;
  left: 136px;
  top: 30px;
}

.header .header-content .logo_box h3 {
  margin: 0;
}

.header .header-content .header_line {
  position: absolute;
  right: 0;
}

.header .header-content .header_line ul {
  padding-top: 37px;
}

.header .header-content .header_line ul li {
  display: inline-block;
  font-size: 15px;
  color: white;
  border-right: 1px solid white;
  padding-left: 10px;
  padding-right: 13px;
}

.header .header-content .header_line .input-group {
  position: absolute;
  right: 0;
  width: 290px;
  height: 40px;
}

.header .header-content .header_line .input-group .form-control {
  height: 100%;
  right: 8px;
}

.header .header-content .header_line .input-group button {
  width: 50px;
  height: 40px;
  background-color: #E5BB47;
  border-radius: 0;
}

.nav_a {
  height: 36px;
  background-color: #E5C779;
  position: relative;
}

.nav_a ul {
  font-size: 15px;
  left: 145px;
  width: 1150px;
  margin-left: 479px;
  padding: 10px 0;
}

.nav_a ul li {
  display: inline-block;
  border-left: 1px solid white;
  padding: 0 10px;
}

.nav_a ul li:nth-child(8) {
  border-right: 1px solid white;
}

.cont {
  position: relative;
}

.cont .box {
  height: 230px;
  width: 1150px;
  background-color: red;
}

.cont .swiper-button-next, .cont .swiper-button-prev {
  display: none;
}

.cont .news_box {
  position: relative;
  height: 330px;
  width: 700px;
  background-color: white;
  margin-top: 70px;
}

.cont .news_box p {
  font-size: 26px;
  font-weight: bolder;
}

.cont .news_box p::after {
  width: 20px;
  content: "";
  position: absolute;
  z-index: 10;
  top: 35px;
  left: 0;
  border-bottom: 2px solid #fc3750;
}

.cont .news_box .nav-tabs {
  top: 13px;
  left: 82px;
  position: absolute;
}

.cont .activity {
  position: absolute;
  height: 334px;
  width: 425px;
  right: 0;
  top: 350px;
  margin-top: 70px;
}

.cont .activity p {
  font-size: 26px;
  font-weight: bolder;
  margin-bottom: 18px;
}

.cont .activity p::after {
  width: 20px;
  content: "";
  position: absolute;
  z-index: 10;
  top: 35px;
  left: 0;
  border-bottom: 2px solid #E5C779;
}

.cont .activity .box {
  height: 74px;
  width: 74px;
  background-color: red;
  margin-bottom: 10px;
}

.cont .sqr .row .col {
  position: relative;
  width: 340px;
  height: 307px;
  float: left;
  margin-right: 50px;
}

.cont .sqr .row .col p {
  font-size: 26px;
  font-weight: bolder;
  margin-bottom: 18px;
}

.cont .sqr .row .col p::after {
  width: 20px;
  content: "";
  position: absolute;
  z-index: 10;
  top: 35px;
  left: 0;
  border-bottom: 2px solid #E5C779;
}

.cont .sqr .row .col .icon {
  width: 42px;
  height: 42px;
  position: absolute;
  background-color: red;
  top: 0;
  right: 0;
}

.cont .sqr .row .col .box_a {
  width: 340px;
  height: 250px;
  background-color: blue;
}

.footer {
  height: 235px;
  background-color: #9E1604;
}

.footer .row .col {
  float: left;
  margin-left: 300px;
  color: white;
}

.footer .row .col::nth-child(3) {
  margin-right: 300px;
  margin-left: 0;
}

.footer_a {
  height: 50px;
  background-color: #3D0400;
}

.footer_a p {
  text-align: center;
  line-height: 50px;
  color: #757575;
}
 

 /*# sourceMappingURL= index.css.map */