.anavbar {
  background: -moz-linear-gradient(0% 50% 0deg, #0032de 0%, #003be3 2.09%, #004ff0 8.22%, #005df8 15.2%, #0065fd 23.67%, #0068ff 37.84%, #009eff 79.81%, #00b9ff 100%);
  background: -webkit-linear-gradient(0deg, #0032de 0%, #003be3 2.09%, #004ff0 8.22%, #005df8 15.2%, #0065fd 23.67%, #0068ff 37.84%, #009eff 79.81%, #00b9ff 100%);
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0, #0032de), color-stop(0.0209, #003be3), color-stop(0.0822, #004ff0), color-stop(0.152, #005df8), color-stop(0.2367, #0065fd), color-stop(0.3784, #0068ff), color-stop(0.7981, #009eff), color-stop(1, #00b9ff));
  background: -o-linear-gradient(0deg, #0032de 0%, #003be3 2.09%, #004ff0 8.22%, #005df8 15.2%, #0065fd 23.67%, #0068ff 37.84%, #009eff 79.81%, #00b9ff 100%);
  background: -ms-linear-gradient(0deg, #0032de 0%, #003be3 2.09%, #004ff0 8.22%, #005df8 15.2%, #0065fd 23.67%, #0068ff 37.84%, #009eff 79.81%, #00b9ff 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#0032DE', endColorstr='#00B9FF' ,GradientType=0)";
  background: linear-gradient(90deg, #0032de 0%, #003be3 2.09%, #004ff0 8.22%, #005df8 15.2%, #0065fd 23.67%, #0068ff 37.84%, #009eff 79.81%, #00b9ff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0032DE',endColorstr='#00B9FF' , GradientType=1);
}

.cont .menu {
  overflow: hidden;
  position: relative;
  width: 218px;
  top: 80px;
}

.cont .menu .index, .cont .menu .option, .cont .menu .option_1, .cont .menu .out {
  height: 55px;
  width: 218px;
  background-color: #0044E3;
  margin-bottom: 2px;
  font-size: 22px;
  color: white;
  font-weight: bolder;
  line-height: 55px;
  padding-left: 28px;
  cursor: pointer;
}

.cont .menu .option_in, .cont .menu .option_1_in {
  margin-left: 1%;
  display: none;
  background-color: #F1F1F1;
}

.cont .menu .option_in ul, .cont .menu .option_1_in ul {
  margin: 0;
}

.cont .menu .option_in ul li, .cont .menu .option_1_in ul li {
  margin-bottom: 18px;
}

.cont .menu .option_in ul li:nth-last-child(1), .cont .menu .option_1_in ul li:nth-last-child(1) {
  margin-bottom: 0;
}

.active {
  display: block !important;
}

.footer {
  position: fixed;
  height: 4vh;
  width: 100%;
  background: -moz-linear-gradient(0% 50% 0deg, #0032de 0%, #003be3 2.09%, #004ff0 8.22%, #005df8 15.2%, #0065fd 23.67%, #0068ff 37.84%, #009eff 79.81%, #00b9ff 100%);
  background: -webkit-linear-gradient(0deg, #0032de 0%, #003be3 2.09%, #004ff0 8.22%, #005df8 15.2%, #0065fd 23.67%, #0068ff 37.84%, #009eff 79.81%, #00b9ff 100%);
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0, #0032de), color-stop(0.0209, #003be3), color-stop(0.0822, #004ff0), color-stop(0.152, #005df8), color-stop(0.2367, #0065fd), color-stop(0.3784, #0068ff), color-stop(0.7981, #009eff), color-stop(1, #00b9ff));
  background: -o-linear-gradient(0deg, #0032de 0%, #003be3 2.09%, #004ff0 8.22%, #005df8 15.2%, #0065fd 23.67%, #0068ff 37.84%, #009eff 79.81%, #00b9ff 100%);
  background: -ms-linear-gradient(0deg, #0032de 0%, #003be3 2.09%, #004ff0 8.22%, #005df8 15.2%, #0065fd 23.67%, #0068ff 37.84%, #009eff 79.81%, #00b9ff 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#0032DE', endColorstr='#00B9FF' ,GradientType=0)";
  background: linear-gradient(270deg, #0032de 0%, #003be3 2.09%, #004ff0 8.22%, #005df8 15.2%, #0065fd 23.67%, #0068ff 37.84%, #009eff 79.81%, #00b9ff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0032DE',endColorstr='#00B9FF' , GradientType=1);
}
 

 /*# sourceMappingURL= data.css.map */