$main-color:#0044E3;
$main-font-color:white;
$subject-font-color:black;
.anavbar{
	background : -moz-linear-gradient(0% 50% 0deg,rgba(0, 50, 222, 1) 0%,rgba(0, 59, 227, 1) 2.09%,rgba(0, 79, 240, 1) 8.22%,rgba(0, 93, 248, 1) 15.2%,rgba(0, 101, 253, 1) 23.67%,rgba(0, 104, 255, 1) 37.84%,rgba(0, 158, 255, 1) 79.81%,rgba(0, 185, 255, 1) 100%);
	background : -webkit-linear-gradient(0deg, rgba(0, 50, 222, 1) 0%, rgba(0, 59, 227, 1) 2.09%, rgba(0, 79, 240, 1) 8.22%, rgba(0, 93, 248, 1) 15.2%, rgba(0, 101, 253, 1) 23.67%, rgba(0, 104, 255, 1) 37.84%, rgba(0, 158, 255, 1) 79.81%, rgba(0, 185, 255, 1) 100%);
	background : -webkit-gradient(linear,0% 50% ,100% 50% ,color-stop(0,rgba(0, 50, 222, 1) ),color-stop(0.0209,rgba(0, 59, 227, 1) ),color-stop(0.0822,rgba(0, 79, 240, 1) ),color-stop(0.152,rgba(0, 93, 248, 1) ),color-stop(0.2367,rgba(0, 101, 253, 1) ),color-stop(0.3784,rgba(0, 104, 255, 1) ),color-stop(0.7981,rgba(0, 158, 255, 1) ),color-stop(1,rgba(0, 185, 255, 1) ));
	background : -o-linear-gradient(0deg, rgba(0, 50, 222, 1) 0%, rgba(0, 59, 227, 1) 2.09%, rgba(0, 79, 240, 1) 8.22%, rgba(0, 93, 248, 1) 15.2%, rgba(0, 101, 253, 1) 23.67%, rgba(0, 104, 255, 1) 37.84%, rgba(0, 158, 255, 1) 79.81%, rgba(0, 185, 255, 1) 100%);
	background : -ms-linear-gradient(0deg, rgba(0, 50, 222, 1) 0%, rgba(0, 59, 227, 1) 2.09%, rgba(0, 79, 240, 1) 8.22%, rgba(0, 93, 248, 1) 15.2%, rgba(0, 101, 253, 1) 23.67%, rgba(0, 104, 255, 1) 37.84%, rgba(0, 158, 255, 1) 79.81%, rgba(0, 185, 255, 1) 100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#0032DE', endColorstr='#00B9FF' ,GradientType=0)";
	background : linear-gradient(90deg, rgba(0, 50, 222, 1) 0%, rgba(0, 59, 227, 1) 2.09%, rgba(0, 79, 240, 1) 8.22%, rgba(0, 93, 248, 1) 15.2%, rgba(0, 101, 253, 1) 23.67%, rgba(0, 104, 255, 1) 37.84%, rgba(0, 158, 255, 1) 79.81%, rgba(0, 185, 255, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0032DE',endColorstr='#00B9FF' , GradientType=1);
}
.cont{
    .menu{
        overflow: hidden;
        position: relative;
        width:218px;
        top:80px;
        .index{
            height:55px;
            width:218px;
            background-color:$main-color;
            margin-bottom:2px;
            font-size:22px;
            color:$main-font-color;
            font-weight: bolder;
            line-height: 55px;
            padding-left: 28px;
            cursor: pointer;
        }
        .option{
            @extend .index;
        }
        .option_in{
            margin-left:1%;
            display:none;
            background-color:#F1F1F1;
            ul{
                margin:0;
                li{
                    margin-bottom:18px;
                }
                li:nth-last-child(1){
                    margin-bottom:0;
                }
            }
        }
        .option_1{
            @extend .index;
        }
        .option_1_in{
            @extend .option_in;
        }
        .out{
            @extend .index;
        }
    }
}
.active{
    display:block!important;
}
.footer{
	position:fixed;
    height:4vh;
    width:100%;
    background : -moz-linear-gradient(0% 50% 0deg,rgba(0, 50, 222, 1) 0%,rgba(0, 59, 227, 1) 2.09%,rgba(0, 79, 240, 1) 8.22%,rgba(0, 93, 248, 1) 15.2%,rgba(0, 101, 253, 1) 23.67%,rgba(0, 104, 255, 1) 37.84%,rgba(0, 158, 255, 1) 79.81%,rgba(0, 185, 255, 1) 100%);
	background : -webkit-linear-gradient(0deg, rgba(0, 50, 222, 1) 0%, rgba(0, 59, 227, 1) 2.09%, rgba(0, 79, 240, 1) 8.22%, rgba(0, 93, 248, 1) 15.2%, rgba(0, 101, 253, 1) 23.67%, rgba(0, 104, 255, 1) 37.84%, rgba(0, 158, 255, 1) 79.81%, rgba(0, 185, 255, 1) 100%);
	background : -webkit-gradient(linear,0% 50% ,100% 50% ,color-stop(0,rgba(0, 50, 222, 1) ),color-stop(0.0209,rgba(0, 59, 227, 1) ),color-stop(0.0822,rgba(0, 79, 240, 1) ),color-stop(0.152,rgba(0, 93, 248, 1) ),color-stop(0.2367,rgba(0, 101, 253, 1) ),color-stop(0.3784,rgba(0, 104, 255, 1) ),color-stop(0.7981,rgba(0, 158, 255, 1) ),color-stop(1,rgba(0, 185, 255, 1) ));
	background : -o-linear-gradient(0deg, rgba(0, 50, 222, 1) 0%, rgba(0, 59, 227, 1) 2.09%, rgba(0, 79, 240, 1) 8.22%, rgba(0, 93, 248, 1) 15.2%, rgba(0, 101, 253, 1) 23.67%, rgba(0, 104, 255, 1) 37.84%, rgba(0, 158, 255, 1) 79.81%, rgba(0, 185, 255, 1) 100%);
	background : -ms-linear-gradient(0deg, rgba(0, 50, 222, 1) 0%, rgba(0, 59, 227, 1) 2.09%, rgba(0, 79, 240, 1) 8.22%, rgba(0, 93, 248, 1) 15.2%, rgba(0, 101, 253, 1) 23.67%, rgba(0, 104, 255, 1) 37.84%, rgba(0, 158, 255, 1) 79.81%, rgba(0, 185, 255, 1) 100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#0032DE', endColorstr='#00B9FF' ,GradientType=0)";
	background : linear-gradient(270deg, rgba(0, 50, 222, 1) 0%, rgba(0, 59, 227, 1) 2.09%, rgba(0, 79, 240, 1) 8.22%, rgba(0, 93, 248, 1) 15.2%, rgba(0, 101, 253, 1) 23.67%, rgba(0, 104, 255, 1) 37.84%, rgba(0, 158, 255, 1) 79.81%, rgba(0, 185, 255, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0032DE',endColorstr='#00B9FF' , GradientType=1);
}