$main-color:#0044E3;
$main-font-color:white;
$subject-font-color:#828282;
$tag-font-cont-color:#FC4463;

.cont{
	.cont_img{
		img{
			width:100%;
		}
        
	}
	
    .title{ 
		position: absolute;
		color:$main-color;
		font-weight: bolder;
		letter-spacing:5px;
		font-size:18px;
		top: 23%;
		left: 14%;	
		img{
			margin-right:10px;
		}
		span{
			padding-left:10px;
		}
	}
	.cont_word{
		@extend .title ;
		color:#787878;
		font-size:30px;
		top:31%;
	}
	.line{
		position: absolute;
		height:3px;
		width:76%;
		top: 28%;
		left: 14%;
		background : -moz-linear-gradient(0% 50% 0deg,rgba(0, 105, 255, 1) 0%,rgba(0, 122, 255, 0.97) 8.82%,rgba(0, 154, 255, 0.9) 28.13%,rgba(0, 174, 255, 0.84) 44.35%,rgba(0, 181, 255, 0.8) 55.41%,rgba(0, 181, 255, 0) 100%);
		background : -webkit-linear-gradient(0deg, rgba(0, 105, 255, 1) 0%, rgba(0, 122, 255, 0.97) 8.82%, rgba(0, 154, 255, 0.9) 28.13%, rgba(0, 174, 255, 0.84) 44.35%, rgba(0, 181, 255, 0.8) 55.41%, rgba(0, 181, 255, 0) 100%);
		background : -webkit-gradient(linear,0% 50% ,100% 50% ,color-stop(0,rgba(0, 105, 255, 1) ),color-stop(0.0882,rgba(0, 122, 255, 0.97) ),color-stop(0.2813,rgba(0, 154, 255, 0.9) ),color-stop(0.4435,rgba(0, 174, 255, 0.84) ),color-stop(0.5541,rgba(0, 181, 255, 0.8) ),color-stop(1,rgba(0, 181, 255, 0) ));
		background : -o-linear-gradient(0deg, rgba(0, 105, 255, 1) 0%, rgba(0, 122, 255, 0.97) 8.82%, rgba(0, 154, 255, 0.9) 28.13%, rgba(0, 174, 255, 0.84) 44.35%, rgba(0, 181, 255, 0.8) 55.41%, rgba(0, 181, 255, 0) 100%);
		background : -ms-linear-gradient(0deg, rgba(0, 105, 255, 1) 0%, rgba(0, 122, 255, 0.97) 8.82%, rgba(0, 154, 255, 0.9) 28.13%, rgba(0, 174, 255, 0.84) 44.35%, rgba(0, 181, 255, 0.8) 55.41%, rgba(0, 181, 255, 0) 100%);
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#0069FF', endColorstr='#00B5FF' ,GradientType=0)";
		background : linear-gradient(90deg, rgba(0, 105, 255, 1) 0%, rgba(0, 122, 255, 0.97) 8.82%, rgba(0, 154, 255, 0.9) 28.13%, rgba(0, 174, 255, 0.84) 44.35%, rgba(0, 181, 255, 0.8) 55.41%, rgba(0, 181, 255, 0) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0069FF',endColorstr='#00B5FF' , GradientType=1);
		box-shadow: 0px 1px 13px 3px white;
	}
	.circle_box{
		position: absolute;
		top:0;
		.circle_facebook{
			position: absolute;
			width:250px;
			height:250px;
			border-radius: 50%;
			background-color:#005EFF;
		}
		.circle_news{
			@extend .circle_facebook ;
			background-color:#673CFF;
			left:150px; 
		}
		.circle_wei{
			@extend .circle_facebook ;
			background-color:#00B5FF;
			top:150px;
			left:-100px;
			opacity: 0.8;

		}
		.circle_youtube{
			@extend .circle_facebook ;
			background-color:#FC4463;
			top:150px;
			left:150px;
			opacity: 0.8;
		}
		.circle_ptt{
			@extend .circle_facebook ;
			background-color:#989899;
			top:150px;
			left:300px;
			opacity: 0.8;
		}
		.black{
			background-color: black;
			
			z-index:2;
		}
	}
}
.footer{
	position:fixed;
    height:4vh;
    width:100%;
    background : -moz-linear-gradient(0% 50% 0deg,rgba(0, 50, 222, 1) 0%,rgba(0, 59, 227, 1) 2.09%,rgba(0, 79, 240, 1) 8.22%,rgba(0, 93, 248, 1) 15.2%,rgba(0, 101, 253, 1) 23.67%,rgba(0, 104, 255, 1) 37.84%,rgba(0, 158, 255, 1) 79.81%,rgba(0, 185, 255, 1) 100%);
	background : -webkit-linear-gradient(0deg, rgba(0, 50, 222, 1) 0%, rgba(0, 59, 227, 1) 2.09%, rgba(0, 79, 240, 1) 8.22%, rgba(0, 93, 248, 1) 15.2%, rgba(0, 101, 253, 1) 23.67%, rgba(0, 104, 255, 1) 37.84%, rgba(0, 158, 255, 1) 79.81%, rgba(0, 185, 255, 1) 100%);
	background : -webkit-gradient(linear,0% 50% ,100% 50% ,color-stop(0,rgba(0, 50, 222, 1) ),color-stop(0.0209,rgba(0, 59, 227, 1) ),color-stop(0.0822,rgba(0, 79, 240, 1) ),color-stop(0.152,rgba(0, 93, 248, 1) ),color-stop(0.2367,rgba(0, 101, 253, 1) ),color-stop(0.3784,rgba(0, 104, 255, 1) ),color-stop(0.7981,rgba(0, 158, 255, 1) ),color-stop(1,rgba(0, 185, 255, 1) ));
	background : -o-linear-gradient(0deg, rgba(0, 50, 222, 1) 0%, rgba(0, 59, 227, 1) 2.09%, rgba(0, 79, 240, 1) 8.22%, rgba(0, 93, 248, 1) 15.2%, rgba(0, 101, 253, 1) 23.67%, rgba(0, 104, 255, 1) 37.84%, rgba(0, 158, 255, 1) 79.81%, rgba(0, 185, 255, 1) 100%);
	background : -ms-linear-gradient(0deg, rgba(0, 50, 222, 1) 0%, rgba(0, 59, 227, 1) 2.09%, rgba(0, 79, 240, 1) 8.22%, rgba(0, 93, 248, 1) 15.2%, rgba(0, 101, 253, 1) 23.67%, rgba(0, 104, 255, 1) 37.84%, rgba(0, 158, 255, 1) 79.81%, rgba(0, 185, 255, 1) 100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#0032DE', endColorstr='#00B9FF' ,GradientType=0)";
	background : linear-gradient(270deg, rgba(0, 50, 222, 1) 0%, rgba(0, 59, 227, 1) 2.09%, rgba(0, 79, 240, 1) 8.22%, rgba(0, 93, 248, 1) 15.2%, rgba(0, 101, 253, 1) 23.67%, rgba(0, 104, 255, 1) 37.84%, rgba(0, 158, 255, 1) 79.81%, rgba(0, 185, 255, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0032DE',endColorstr='#00B9FF' , GradientType=1);
}
.anavbar{
	background : -moz-linear-gradient(0% 50% 0deg,rgba(0, 50, 222, 1) 0%,rgba(0, 59, 227, 1) 2.09%,rgba(0, 79, 240, 1) 8.22%,rgba(0, 93, 248, 1) 15.2%,rgba(0, 101, 253, 1) 23.67%,rgba(0, 104, 255, 1) 37.84%,rgba(0, 158, 255, 1) 79.81%,rgba(0, 185, 255, 1) 100%);
	background : -webkit-linear-gradient(0deg, rgba(0, 50, 222, 1) 0%, rgba(0, 59, 227, 1) 2.09%, rgba(0, 79, 240, 1) 8.22%, rgba(0, 93, 248, 1) 15.2%, rgba(0, 101, 253, 1) 23.67%, rgba(0, 104, 255, 1) 37.84%, rgba(0, 158, 255, 1) 79.81%, rgba(0, 185, 255, 1) 100%);
	background : -webkit-gradient(linear,0% 50% ,100% 50% ,color-stop(0,rgba(0, 50, 222, 1) ),color-stop(0.0209,rgba(0, 59, 227, 1) ),color-stop(0.0822,rgba(0, 79, 240, 1) ),color-stop(0.152,rgba(0, 93, 248, 1) ),color-stop(0.2367,rgba(0, 101, 253, 1) ),color-stop(0.3784,rgba(0, 104, 255, 1) ),color-stop(0.7981,rgba(0, 158, 255, 1) ),color-stop(1,rgba(0, 185, 255, 1) ));
	background : -o-linear-gradient(0deg, rgba(0, 50, 222, 1) 0%, rgba(0, 59, 227, 1) 2.09%, rgba(0, 79, 240, 1) 8.22%, rgba(0, 93, 248, 1) 15.2%, rgba(0, 101, 253, 1) 23.67%, rgba(0, 104, 255, 1) 37.84%, rgba(0, 158, 255, 1) 79.81%, rgba(0, 185, 255, 1) 100%);
	background : -ms-linear-gradient(0deg, rgba(0, 50, 222, 1) 0%, rgba(0, 59, 227, 1) 2.09%, rgba(0, 79, 240, 1) 8.22%, rgba(0, 93, 248, 1) 15.2%, rgba(0, 101, 253, 1) 23.67%, rgba(0, 104, 255, 1) 37.84%, rgba(0, 158, 255, 1) 79.81%, rgba(0, 185, 255, 1) 100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#0032DE', endColorstr='#00B9FF' ,GradientType=0)";
	background : linear-gradient(90deg, rgba(0, 50, 222, 1) 0%, rgba(0, 59, 227, 1) 2.09%, rgba(0, 79, 240, 1) 8.22%, rgba(0, 93, 248, 1) 15.2%, rgba(0, 101, 253, 1) 23.67%, rgba(0, 104, 255, 1) 37.84%, rgba(0, 158, 255, 1) 79.81%, rgba(0, 185, 255, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0032DE',endColorstr='#00B9FF' , GradientType=1);
}