.cont .cont_img img {
  width: 100%;
}

.cont .title, .cont .cont_word {
  position: absolute;
  color: #0044E3;
  font-weight: bolder;
  letter-spacing: 5px;
  font-size: 18px;
  top: 19%;
  left: 15%;
}

.cont .title img, .cont .cont_word img {
  margin-right: 10px;
}

.cont .title span, .cont .cont_word span {
  padding-left: 10px;
}

.cont .cont_word {
  color: #787878;
  font-size: 30px;
  top: 31%;
}

.cont .line {
  position: absolute;
  height: 3px;
  width: 76%;
  top: 24%;
  left: 15%;
  background: -moz-linear-gradient(0% 50% 0deg, #0069ff 0%, rgba(0, 122, 255, 0.97) 8.82%, rgba(0, 154, 255, 0.9) 28.13%, rgba(0, 174, 255, 0.84) 44.35%, rgba(0, 181, 255, 0.8) 55.41%, rgba(0, 181, 255, 0) 100%);
  background: -webkit-linear-gradient(0deg, #0069ff 0%, rgba(0, 122, 255, 0.97) 8.82%, rgba(0, 154, 255, 0.9) 28.13%, rgba(0, 174, 255, 0.84) 44.35%, rgba(0, 181, 255, 0.8) 55.41%, rgba(0, 181, 255, 0) 100%);
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0, #0069ff), color-stop(0.0882, rgba(0, 122, 255, 0.97)), color-stop(0.2813, rgba(0, 154, 255, 0.9)), color-stop(0.4435, rgba(0, 174, 255, 0.84)), color-stop(0.5541, rgba(0, 181, 255, 0.8)), color-stop(1, rgba(0, 181, 255, 0)));
  background: -o-linear-gradient(0deg, #0069ff 0%, rgba(0, 122, 255, 0.97) 8.82%, rgba(0, 154, 255, 0.9) 28.13%, rgba(0, 174, 255, 0.84) 44.35%, rgba(0, 181, 255, 0.8) 55.41%, rgba(0, 181, 255, 0) 100%);
  background: -ms-linear-gradient(0deg, #0069ff 0%, rgba(0, 122, 255, 0.97) 8.82%, rgba(0, 154, 255, 0.9) 28.13%, rgba(0, 174, 255, 0.84) 44.35%, rgba(0, 181, 255, 0.8) 55.41%, rgba(0, 181, 255, 0) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#0069FF', endColorstr='#00B5FF' ,GradientType=0)";
  background: linear-gradient(90deg, #0069ff 0%, rgba(0, 122, 255, 0.97) 8.82%, rgba(0, 154, 255, 0.9) 28.13%, rgba(0, 174, 255, 0.84) 44.35%, rgba(0, 181, 255, 0.8) 55.41%, rgba(0, 181, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0069FF',endColorstr='#00B5FF' , GradientType=1);
  box-shadow: 0px 1px 13px 3px white;
}

.cont .circle_img {
  position: absolute;
  background-image: url("../imgs/img/ball.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  top: 50%;
  right: 11%;
  width: 37%;
  height: 40%;
}

.cont .circle_box {
  position: absolute;
  top: 0;
}

.cont .circle_box .circle_facebook, .cont .circle_box .circle_news, .cont .circle_box .circle_wei, .cont .circle_box .circle_youtube, .cont .circle_box .circle_ptt {
  position: absolute;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: #005EFF;
}

.cont .circle_box .circle_news {
  background-color: #673CFF;
  left: 150px;
}

.cont .circle_box .circle_wei {
  background-color: #00B5FF;
  top: 150px;
  left: -100px;
  opacity: 0.8;
}

.cont .circle_box .circle_youtube {
  background-color: #FC4463;
  top: 150px;
  left: 150px;
  opacity: 0.8;
}

.cont .circle_box .circle_ptt {
  background-color: #989899;
  top: 150px;
  left: 300px;
  opacity: 0.8;
}

.cont .circle_box .black {
  background-color: black;
  z-index: 2;
}

.footer {
  position: fixed;
  height: 4vh;
  width: 100%;
  background: -moz-linear-gradient(0% 50% 0deg, #0032de 0%, #003be3 2.09%, #004ff0 8.22%, #005df8 15.2%, #0065fd 23.67%, #0068ff 37.84%, #009eff 79.81%, #00b9ff 100%);
  background: -webkit-linear-gradient(0deg, #0032de 0%, #003be3 2.09%, #004ff0 8.22%, #005df8 15.2%, #0065fd 23.67%, #0068ff 37.84%, #009eff 79.81%, #00b9ff 100%);
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0, #0032de), color-stop(0.0209, #003be3), color-stop(0.0822, #004ff0), color-stop(0.152, #005df8), color-stop(0.2367, #0065fd), color-stop(0.3784, #0068ff), color-stop(0.7981, #009eff), color-stop(1, #00b9ff));
  background: -o-linear-gradient(0deg, #0032de 0%, #003be3 2.09%, #004ff0 8.22%, #005df8 15.2%, #0065fd 23.67%, #0068ff 37.84%, #009eff 79.81%, #00b9ff 100%);
  background: -ms-linear-gradient(0deg, #0032de 0%, #003be3 2.09%, #004ff0 8.22%, #005df8 15.2%, #0065fd 23.67%, #0068ff 37.84%, #009eff 79.81%, #00b9ff 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#0032DE', endColorstr='#00B9FF' ,GradientType=0)";
  background: linear-gradient(270deg, #0032de 0%, #003be3 2.09%, #004ff0 8.22%, #005df8 15.2%, #0065fd 23.67%, #0068ff 37.84%, #009eff 79.81%, #00b9ff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0032DE',endColorstr='#00B9FF' , GradientType=1);
}

.anavbar {
  background: -moz-linear-gradient(0% 50% 0deg, #0032de 0%, #003be3 2.09%, #004ff0 8.22%, #005df8 15.2%, #0065fd 23.67%, #0068ff 37.84%, #009eff 79.81%, #00b9ff 100%);
  background: -webkit-linear-gradient(0deg, #0032de 0%, #003be3 2.09%, #004ff0 8.22%, #005df8 15.2%, #0065fd 23.67%, #0068ff 37.84%, #009eff 79.81%, #00b9ff 100%);
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0, #0032de), color-stop(0.0209, #003be3), color-stop(0.0822, #004ff0), color-stop(0.152, #005df8), color-stop(0.2367, #0065fd), color-stop(0.3784, #0068ff), color-stop(0.7981, #009eff), color-stop(1, #00b9ff));
  background: -o-linear-gradient(0deg, #0032de 0%, #003be3 2.09%, #004ff0 8.22%, #005df8 15.2%, #0065fd 23.67%, #0068ff 37.84%, #009eff 79.81%, #00b9ff 100%);
  background: -ms-linear-gradient(0deg, #0032de 0%, #003be3 2.09%, #004ff0 8.22%, #005df8 15.2%, #0065fd 23.67%, #0068ff 37.84%, #009eff 79.81%, #00b9ff 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#0032DE', endColorstr='#00B9FF' ,GradientType=0)";
  background: linear-gradient(90deg, #0032de 0%, #003be3 2.09%, #004ff0 8.22%, #005df8 15.2%, #0065fd 23.67%, #0068ff 37.84%, #009eff 79.81%, #00b9ff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0032DE',endColorstr='#00B9FF' , GradientType=1);
}
 

 /*# sourceMappingURL= how_to_use.css.map */