$main-color:#0044E3;
$main-font-color:white;
*{
    font-family:微軟正黑體;
}
.phone_menu{
    position: absolute;
    right:5%;
    top:4%;
    z-index: 99999;
    text-align:right;
    display: none;
    cursor: pointer;
    .navicon{
        position: absolute;
        right: 10px;
        background-image:url(../imgs/icon/navicon.png);
        height: 60px;
        width: 50px;
        background-size: contain;
        background-repeat: no-repeat;
    }
    a{
        color: white;
    }
    a:visited{
        color:rgb(255, 255, 255);
    }
    a:link{
        color:rgb(255, 255, 255);
    }
    img{       
        width:15%;
    }
    .phone_option{
        position: absolute;
        right: 10px;
        width: 300px;
        top: 50px;
        border-right: 2px solid white;
        display: none;
        ul{
            background-color:rgba(0,68,227,0.5);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0032DE',endColorstr='#00B9FF' , GradientType=1);
            
            list-style: none;
            margin: 0;
            padding: 0;
            li{
                padding: 10px;
                border-bottom:2px solid white;
                p{
                    margin:0;
                }
            }
            li:nth-last-child(1){
                border-bottom:none;
                
            }
        }
        img{
            height: 30px;
            width:30px;
        }
    }
}
.active{
    display:block!important;
}
.container-fluid{
    padding:0;
  
    .anavbar{
        position: relative;
        height:130px;
        background-color: $main-color;
        width:100%;
        .logo{
            height: 130px;
            width: 10%;
            background-repeat: no-repeat;
            background-size: contain;
           position: absolute;
           left:4%;
           top:40%;
        }
        
        ul{ 
            position: absolute;
            top:56px;
            right:30px;
            margin: 0px;
           
            li{
                display: inline-block;
                border-right:2px solid white;
                color:$main-font-color;
                text-align:left;
                font-size:18px; 
                padding:0 10px;
                line-height: 21px;
                
                a:visited{
                    color:$main-font-color;
                }
                a:link{
                    color:$main-font-color;
                }
                .row{
                    height: 36px;
                    padding:0px;
                }
                p{
                    font-size:10px;
                }
            }
            li:nth-child(6){
                border-right:none;
            }
            li:nth-child(7){
                border-right:none;
            }
        }
    }
}
.content{
    
    img{
        width:100%;
    }
}
.footer{
    position: absolute;
    bottom:0;
    color:$main-font-color;
    text-align:right;
    height: 4vh;
    width: 100%;
    h6{
        font-size:14px;
        padding: 10px 26px 0 0;
    }
    
}
@media screen and (max-width:1365px){
    .anavbar{
        ul{
            display:none;
        }
        
    }
    .phone_menu{
        display:block
    }
}
  
