$main-color:#0044E3;
$main-font-color:white;
*{
    font-family:微軟正黑體;
}
.container-fluid{
    padding:0;
    .anavbar{
        position: relative;
        height:130px;
        background-color: $main-color;
        width:100%;
        .logo{
            height: 130px;
            width: 10%;
            background-repeat: no-repeat;
            background-size: contain;
           position: absolute;
           left:4%;
           top:40%;
        }
        
        ul{ 
            position: absolute;
            top:56px;
            right:30px;
            margin: 0px;
           
            li{
                display: inline-block;
                border-right:2px solid white;
                color:$main-font-color;
                text-align:left;
                font-size:18px; 
                padding:0 10px;
                line-height: 21px;
                
                a:visited{
                    color:$main-font-color;
                }
                a:link{
                    color:$main-font-color;
                }
                .row{
                    height: 36px;
                    padding:0px;
                }
                p{
                    font-size:10px;
                }
            }
            li:nth-child(6){
                border-right:none;
            }
            li:nth-child(7){
                border-right:none;
            }
        }
    }
}
.content{
    
    img{
        width:100%;
    }
}
.footer{
    position: absolute;
    bottom:0;
    color:$main-font-color;
    text-align:right;
    height: 4vh;
    width: 100%;
    h6{
        font-size:14px;
        padding: 10px 26px 0 0;
    }
    
}
@media screen and (max-width:1366px){
    .anavbar{
        ul{
            display:none;
        }
        
    }
}
  
