@charset "UTF-8";
* {
  font-family: 微軟正黑體;
}

.phone_menu {
  position: absolute;
  right: 5%;
  top: 4%;
  z-index: 99999;
  text-align: right;
  display: none;
  cursor: pointer;
}

.phone_menu .navicon {
  top: 30px;
  position: absolute;
  right: 10px;
  background-image: url(../imgs/icon/navicon.png);
  height: 60px;
  width: 50px;
  background-size: contain;
  background-repeat: no-repeat;
}

.phone_menu a {
  color: white;
}

.phone_menu a:visited {
  color: white;
}

.phone_menu a:link {
  color: white;
}

.phone_menu img {
  width: 15%;
}

.phone_menu .phone_option {
  position: absolute;
  right: 10px;
  width: 300px;
  top: 68px;
  border-right: 7px solid white;
  display: none;
}

.phone_menu .phone_option ul {
  background: linear-gradient(270deg, #00b3ff, rgba(0, 179, 255, 0.5));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0032DE',endColorstr='#00B9FF' , GradientType=1);
  list-style: none;
  margin: 0;
  padding: 0;
}

.phone_menu .phone_option ul li {
  padding: 10px;
  border-bottom: 2px solid white;
}

.phone_menu .phone_option ul li p {
  margin: 0;
}

.phone_menu .phone_option ul li:nth-last-child(1) {
  border-bottom: none;
}

.phone_menu .phone_option img {
  height: 40px;
  width: 35px;
}

.active {
  display: block !important;
}

.container-fluid {
  padding: 0;
}

.container-fluid .anavbar {
  position: relative;
  height: 130px;
  background-color: #0044E3;
  width: 100%;
}

.container-fluid .anavbar .logo {
  height: 130px;
  width: 10%;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 4%;
  top: 30%;
}

.container-fluid .anavbar ul {
  position: absolute;
  top: 50px;
  right: 0;
  margin: 0px;
}

.container-fluid .anavbar ul li {
  display: inline-block;
  color: white;
  text-align: left;
  font-size: 20px;
  padding: 0 10px;
  line-height: 21px;
}

.container-fluid .anavbar ul li a:visited {
  color: white;
}

.container-fluid .anavbar ul li a:link {
  color: white;
}

.container-fluid .anavbar ul li .nav_img {
  float: left;
  margin-right: 16px;
}

.container-fluid .anavbar ul li .nav_text {
  float: left;
  border-right: 2px solid white;
  padding-right: 40px;
}

.container-fluid .anavbar ul li span {
  font-size: 14px;
}

.container-fluid .anavbar ul li:nth-child(1) .nav_text {
  padding-right: 40px;
}

.container-fluid .anavbar ul li:nth-child(2) .nav_text {
  padding-right: 46px;
}

.container-fluid .anavbar ul li:nth-child(3) .nav_text {
  padding-right: 30px;
}

.container-fluid .anavbar ul li:nth-child(4) .nav_text {
  padding-right: 15px;
}

.container-fluid .anavbar ul li:nth-child(5) .nav_text {
  padding-right: 25px;
}

.container-fluid .anavbar ul li:nth-child(6) .nav_text {
  border-right: none;
  padding-right: 54px;
}

.container-fluid .anavbar ul li:nth-child(7) {
  border-right: none;
}

.content {
  position: relative;
  width: 100%;
  background-image: url("imgs");
}

.content .content_bg {
  width: 100%;
  position: absolute;
}

.content .content_img {
  position: absolute;
  top: 51vh;
  left: 31%;
}

.content .content_text {
  position: absolute;
  font-size: 35px;
  color: white;
  top: 55vh;
  left: 55%;
}

.content .content_line {
  position: absolute;
  width: 716px;
  height: 6px;
  top: 62vh;
  left: 50%;
  background: -moz-linear-gradient(-132.29% -155724.17% 0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 50.54%, rgba(255, 255, 255, 0) 98.92%);
  background: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 50.54%, rgba(255, 255, 255, 0) 98.92%);
  background: -webkit-gradient(linear, -132.29% -155724.17%, -32.29% -155724.17%, color-stop(0, rgba(255, 255, 255, 0)), color-stop(0.5054, rgba(255, 255, 255, 0.9)), color-stop(0.9892, rgba(255, 255, 255, 0)));
  background: -o-linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 50.54%, rgba(255, 255, 255, 0) 98.92%);
  background: -ms-linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 50.54%, rgba(255, 255, 255, 0) 98.92%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#FFFFFF' ,GradientType=0)";
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 50.54%, rgba(255, 255, 255, 0) 98.92%);
}

.footer {
  position: fixed;
  bottom: 0;
  color: white;
  text-align: right;
  height: 4vh;
  width: 100%;
}

.footer h6 {
  font-size: 14px;
  padding: 10px 10px;
}

@media screen and (max-width: 1638px) {
  .anavbar ul {
    display: none;
  }
  .content .content_bg img {
    height: 100vh;
  }
  .content .content_img img {
    width: 85%;
  }
  .phone_menu {
    display: block;
  }
}
 

 /*# sourceMappingURL= index.css.map */