body {
  background-image: url(../imgs/bg/bg4.png);
  height: 100%;
  background-size: contain;
}

.anavbar {
  background: -moz-linear-gradient(0% 50% 0deg, #0032de 0%, #003be3 2.09%, #004ff0 8.22%, #005df8 15.2%, #0065fd 23.67%, #0068ff 37.84%, #009eff 79.81%, #00b9ff 100%);
  background: -webkit-linear-gradient(0deg, #0032de 0%, #003be3 2.09%, #004ff0 8.22%, #005df8 15.2%, #0065fd 23.67%, #0068ff 37.84%, #009eff 79.81%, #00b9ff 100%);
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0, #0032de), color-stop(0.0209, #003be3), color-stop(0.0822, #004ff0), color-stop(0.152, #005df8), color-stop(0.2367, #0065fd), color-stop(0.3784, #0068ff), color-stop(0.7981, #009eff), color-stop(1, #00b9ff));
  background: -o-linear-gradient(0deg, #0032de 0%, #003be3 2.09%, #004ff0 8.22%, #005df8 15.2%, #0065fd 23.67%, #0068ff 37.84%, #009eff 79.81%, #00b9ff 100%);
  background: -ms-linear-gradient(0deg, #0032de 0%, #003be3 2.09%, #004ff0 8.22%, #005df8 15.2%, #0065fd 23.67%, #0068ff 37.84%, #009eff 79.81%, #00b9ff 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#0032DE', endColorstr='#00B9FF' ,GradientType=0)";
  background: linear-gradient(90deg, #0032de 0%, #003be3 2.09%, #004ff0 8.22%, #005df8 15.2%, #0065fd 23.67%, #0068ff 37.84%, #009eff 79.81%, #00b9ff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0032DE',endColorstr='#00B9FF' , GradientType=1);
}

.container-fluids {
  position: relative;
  height: 100vh;
}

.container-fluids .title {
  position: absolute;
  color: #1A78FF;
  font-weight: bolder;
  letter-spacing: 1px;
  font-size: 28px;
  top: 5.5%;
  left: 15%;
}

.container-fluids .title img {
  margin-right: 10px;
  margin-bottom: 8px;
}

.container-fluids .title span {
  padding-left: 10px;
  font-size: 22px;
  font-family: MicrosoftJhengHeiLight;
  letter-spacing: 0px;
  font-weight: lighter;
}

.container-fluids .line {
  position: absolute;
  height: 3px;
  width: 76%;
  top: 11.7%;
  left: 15%;
  background: -moz-linear-gradient(0% 50% 0deg, #0069ff 0%, rgba(0, 122, 255, 0.97) 8.82%, rgba(0, 154, 255, 0.9) 28.13%, rgba(0, 174, 255, 0.84) 44.35%, rgba(0, 181, 255, 0.8) 55.41%, rgba(0, 181, 255, 0) 100%);
  background: -webkit-linear-gradient(0deg, #0069ff 0%, rgba(0, 122, 255, 0.97) 8.82%, rgba(0, 154, 255, 0.9) 28.13%, rgba(0, 174, 255, 0.84) 44.35%, rgba(0, 181, 255, 0.8) 55.41%, rgba(0, 181, 255, 0) 100%);
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0, #0069ff), color-stop(0.0882, rgba(0, 122, 255, 0.97)), color-stop(0.2813, rgba(0, 154, 255, 0.9)), color-stop(0.4435, rgba(0, 174, 255, 0.84)), color-stop(0.5541, rgba(0, 181, 255, 0.8)), color-stop(1, rgba(0, 181, 255, 0)));
  background: -o-linear-gradient(0deg, #0069ff 0%, rgba(0, 122, 255, 0.97) 8.82%, rgba(0, 154, 255, 0.9) 28.13%, rgba(0, 174, 255, 0.84) 44.35%, rgba(0, 181, 255, 0.8) 55.41%, rgba(0, 181, 255, 0) 100%);
  background: -ms-linear-gradient(0deg, #0069ff 0%, rgba(0, 122, 255, 0.97) 8.82%, rgba(0, 154, 255, 0.9) 28.13%, rgba(0, 174, 255, 0.84) 44.35%, rgba(0, 181, 255, 0.8) 55.41%, rgba(0, 181, 255, 0) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#0069FF', endColorstr='#00B5FF' ,GradientType=0)";
  background: linear-gradient(90deg, #0069ff 0%, rgba(0, 122, 255, 0.97) 8.82%, rgba(0, 154, 255, 0.9) 28.13%, rgba(0, 174, 255, 0.84) 44.35%, rgba(0, 181, 255, 0.8) 55.41%, rgba(0, 181, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0069FF',endColorstr='#00B5FF' , GradientType=1);
  box-shadow: 0px 1px 13px 3px white;
}

.container-fluids .tag, .container-fluids .tag2, .container-fluids .tag3, .container-fluids .tag4 {
  position: absolute;
  width: 210px;
  height: 540px;
  box-shadow: 0px 1px 17px -1px #00B5FF;
  border-radius: 10px;
  left: 20%;
  top: 22.5%;
  background-color: white;
  font-weight: bolder;
}

.container-fluids .tag .up, .container-fluids .tag2 .up, .container-fluids .tag3 .up, .container-fluids .tag4 .up {
  position: absolute;
  top: -11%;
  z-index: -1;
  left: 50%;
  transform: translate(-50%);
}

.container-fluids .tag .tag_title, .container-fluids .tag2 .tag_title, .container-fluids .tag3 .tag_title, .container-fluids .tag4 .tag_title {
  font-size: 20px;
  color: #828282;
  text-align: center;
  letter-spacing: 4px;
  width: 100%;
  position: absolute;
  top: 4%;
}

.container-fluids .tag .cir, .container-fluids .tag2 .cir, .container-fluids .tag3 .cir, .container-fluids .tag4 .cir {
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 300px;
  position: absolute;
  top: 27%;
}

.container-fluids .tag ul, .container-fluids .tag2 ul, .container-fluids .tag3 ul, .container-fluids .tag4 ul {
  position: absolute;
  color: #828282;
  bottom: 29%;
  left: 15%;
  position: absolute;
  color: #828282;
  bottom: 28%;
  left: 15%;
}

.container-fluids .tag button, .container-fluids .tag2 button, .container-fluids .tag3 button, .container-fluids .tag4 button {
  position: absolute;
  width: 150px;
  height: 30px;
  left: 15%;
  letter-spacing: 8px;
  background-color: #0069FF;
  color: white;
  bottom: 19%;
  z-index: 99;
}

.container-fluids .tag button span, .container-fluids .tag2 button span, .container-fluids .tag3 button span, .container-fluids .tag4 button span {
  position: absolute;
  top: 2px;
  left: 29px;
}

.container-fluids .tag button img, .container-fluids .tag2 button img, .container-fluids .tag3 button img, .container-fluids .tag4 button img {
  position: absolute;
  top: 8px;
  right: 11px;
}

.container-fluids .tag .tag_line, .container-fluids .tag2 .tag_line, .container-fluids .tag3 .tag_line, .container-fluids .tag4 .tag_line {
  position: absolute;
  bottom: 22%;
  height: 2px;
  width: 100%;
  background: -moz-linear-gradient(50% -7860.39% 90deg, rgba(255, 255, 255, 0) 0%, rgba(246, 250, 255, 0.01) 0.74%, rgba(200, 223, 255, 0.05) 4.77%, rgba(157, 197, 255, 0.09) 9.31%, rgba(119, 175, 255, 0.14) 14.19%, rgba(87, 156, 255, 0.2) 19.5%, rgba(59, 140, 255, 0.25) 25.37%, rgba(37, 127, 255, 0.32) 32%, rgba(20, 117, 255, 0.4) 39.74%, rgba(9, 110, 255, 0.49) 49.31%, rgba(2, 106, 255, 0.63) 62.74%, #0069ff 100%);
  background: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(246, 250, 255, 0.01) 0.74%, rgba(200, 223, 255, 0.05) 4.77%, rgba(157, 197, 255, 0.09) 9.31%, rgba(119, 175, 255, 0.14) 14.19%, rgba(87, 156, 255, 0.2) 19.5%, rgba(59, 140, 255, 0.25) 25.37%, rgba(37, 127, 255, 0.32) 32%, rgba(20, 117, 255, 0.4) 39.74%, rgba(9, 110, 255, 0.49) 49.31%, rgba(2, 106, 255, 0.63) 62.74%, #0069ff 100%);
  background: -webkit-gradient(linear, 50% -7860.39%, 50% -7897.3%, color-stop(0, rgba(255, 255, 255, 0)), color-stop(0.0074, rgba(246, 250, 255, 0.01)), color-stop(0.0477, rgba(200, 223, 255, 0.05)), color-stop(0.0931, rgba(157, 197, 255, 0.09)), color-stop(0.1419, rgba(119, 175, 255, 0.14)), color-stop(0.195, rgba(87, 156, 255, 0.2)), color-stop(0.2537, rgba(59, 140, 255, 0.25)), color-stop(0.32, rgba(37, 127, 255, 0.32)), color-stop(0.3974, rgba(20, 117, 255, 0.4)), color-stop(0.4931, rgba(9, 110, 255, 0.49)), color-stop(0.6274, rgba(2, 106, 255, 0.63)), color-stop(1, #0069ff));
  background: -o-linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(246, 250, 255, 0.01) 0.74%, rgba(200, 223, 255, 0.05) 4.77%, rgba(157, 197, 255, 0.09) 9.31%, rgba(119, 175, 255, 0.14) 14.19%, rgba(87, 156, 255, 0.2) 19.5%, rgba(59, 140, 255, 0.25) 25.37%, rgba(37, 127, 255, 0.32) 32%, rgba(20, 117, 255, 0.4) 39.74%, rgba(9, 110, 255, 0.49) 49.31%, rgba(2, 106, 255, 0.63) 62.74%, #0069ff 100%);
  background: -ms-linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(246, 250, 255, 0.01) 0.74%, rgba(200, 223, 255, 0.05) 4.77%, rgba(157, 197, 255, 0.09) 9.31%, rgba(119, 175, 255, 0.14) 14.19%, rgba(87, 156, 255, 0.2) 19.5%, rgba(59, 140, 255, 0.25) 25.37%, rgba(37, 127, 255, 0.32) 32%, rgba(20, 117, 255, 0.4) 39.74%, rgba(9, 110, 255, 0.49) 49.31%, rgba(2, 106, 255, 0.63) 62.74%, #0069ff 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#0069FF' ,GradientType=0)";
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(246, 250, 255, 0.01) 0.74%, rgba(200, 223, 255, 0.05) 4.77%, rgba(157, 197, 255, 0.09) 9.31%, rgba(119, 175, 255, 0.14) 14.19%, rgba(87, 156, 255, 0.2) 19.5%, rgba(59, 140, 255, 0.25) 25.37%, rgba(37, 127, 255, 0.32) 32%, rgba(20, 117, 255, 0.4) 39.74%, rgba(9, 110, 255, 0.49) 49.31%, rgba(2, 106, 255, 0.63) 62.74%, #0069ff 100%);
  opacity: 0.4;
  filter: alpha(opacity=40) progid:DXImageTransform.Microsoft.Alpha(opacity=40) progid:DXImageTransform.Microsoft.gradient(startColorstr='#0069FF',endColorstr='#FFFFFF' , GradientType=0);
}

.container-fluids .tag .tag_cont, .container-fluids .tag2 .tag_cont, .container-fluids .tag3 .tag_cont, .container-fluids .tag4 .tag_cont {
  position: absolute;
  bottom: 10%;
  width: 100%;
  text-align: center;
}

.container-fluids .tag2 {
  left: 36%;
}

.container-fluids .tag3 {
  left: 52%;
}

.container-fluids .tag4 {
  left: 68%;
}

.container-fluids .tag4 .tag_titile {
  left: 15%;
}

.container-fluids .tag4 ul {
  bottom: 42%;
  left: 8%;
}

.footer {
  width: 100%;
  position: fixed;
  background-color: white;
  color: black;
  z-index: 9999999;
}

.footer h6 {
  padding: 10px;
}
 

 /*# sourceMappingURL= pricing.css.map */