
$main-color:#0044E3;
$main-font-color:white;
$subject-font-color:#828282;
$tag-font-cont-color:#FC4463;

body{
    background-image: url(../imgs/bg/bg4.png);
    height: 100%;
    
    background-size: contain;
}
  .anavbar{
    background : -moz-linear-gradient(0% 50% 0deg,rgba(0, 50, 222, 1) 0%,rgba(0, 59, 227, 1) 2.09%,rgba(0, 79, 240, 1) 8.22%,rgba(0, 93, 248, 1) 15.2%,rgba(0, 101, 253, 1) 23.67%,rgba(0, 104, 255, 1) 37.84%,rgba(0, 158, 255, 1) 79.81%,rgba(0, 185, 255, 1) 100%);
    background : -webkit-linear-gradient(0deg, rgba(0, 50, 222, 1) 0%, rgba(0, 59, 227, 1) 2.09%, rgba(0, 79, 240, 1) 8.22%, rgba(0, 93, 248, 1) 15.2%, rgba(0, 101, 253, 1) 23.67%, rgba(0, 104, 255, 1) 37.84%, rgba(0, 158, 255, 1) 79.81%, rgba(0, 185, 255, 1) 100%);
    background : -webkit-gradient(linear,0% 50% ,100% 50% ,color-stop(0,rgba(0, 50, 222, 1) ),color-stop(0.0209,rgba(0, 59, 227, 1) ),color-stop(0.0822,rgba(0, 79, 240, 1) ),color-stop(0.152,rgba(0, 93, 248, 1) ),color-stop(0.2367,rgba(0, 101, 253, 1) ),color-stop(0.3784,rgba(0, 104, 255, 1) ),color-stop(0.7981,rgba(0, 158, 255, 1) ),color-stop(1,rgba(0, 185, 255, 1) ));
    background : -o-linear-gradient(0deg, rgba(0, 50, 222, 1) 0%, rgba(0, 59, 227, 1) 2.09%, rgba(0, 79, 240, 1) 8.22%, rgba(0, 93, 248, 1) 15.2%, rgba(0, 101, 253, 1) 23.67%, rgba(0, 104, 255, 1) 37.84%, rgba(0, 158, 255, 1) 79.81%, rgba(0, 185, 255, 1) 100%);
    background : -ms-linear-gradient(0deg, rgba(0, 50, 222, 1) 0%, rgba(0, 59, 227, 1) 2.09%, rgba(0, 79, 240, 1) 8.22%, rgba(0, 93, 248, 1) 15.2%, rgba(0, 101, 253, 1) 23.67%, rgba(0, 104, 255, 1) 37.84%, rgba(0, 158, 255, 1) 79.81%, rgba(0, 185, 255, 1) 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#0032DE', endColorstr='#00B9FF' ,GradientType=0)";
    background : linear-gradient(90deg, rgba(0, 50, 222, 1) 0%, rgba(0, 59, 227, 1) 2.09%, rgba(0, 79, 240, 1) 8.22%, rgba(0, 93, 248, 1) 15.2%, rgba(0, 101, 253, 1) 23.67%, rgba(0, 104, 255, 1) 37.84%, rgba(0, 158, 255, 1) 79.81%, rgba(0, 185, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0032DE',endColorstr='#00B9FF' , GradientType=1);
  }
  .container-fluids{
      position: relative;
      height: 100vh;
  .title{ 
    position: absolute;
    color:$main-color;
    font-weight: bolder;
    letter-spacing:10px;
    font-size:18px;
    top: 5.5%;
    left: 15%;
    img{
        margin-right:10px;
    }
    span{
        padding-left:10px;
    }
}
.line{
    position: absolute;
    height:3px;
    width:76%;
    top:10.5%;
    left:15%;
    background : -moz-linear-gradient(0% 50% 0deg,rgba(0, 105, 255, 1) 0%,rgba(0, 122, 255, 0.97) 8.82%,rgba(0, 154, 255, 0.9) 28.13%,rgba(0, 174, 255, 0.84) 44.35%,rgba(0, 181, 255, 0.8) 55.41%,rgba(0, 181, 255, 0) 100%);
    background : -webkit-linear-gradient(0deg, rgba(0, 105, 255, 1) 0%, rgba(0, 122, 255, 0.97) 8.82%, rgba(0, 154, 255, 0.9) 28.13%, rgba(0, 174, 255, 0.84) 44.35%, rgba(0, 181, 255, 0.8) 55.41%, rgba(0, 181, 255, 0) 100%);
    background : -webkit-gradient(linear,0% 50% ,100% 50% ,color-stop(0,rgba(0, 105, 255, 1) ),color-stop(0.0882,rgba(0, 122, 255, 0.97) ),color-stop(0.2813,rgba(0, 154, 255, 0.9) ),color-stop(0.4435,rgba(0, 174, 255, 0.84) ),color-stop(0.5541,rgba(0, 181, 255, 0.8) ),color-stop(1,rgba(0, 181, 255, 0) ));
    background : -o-linear-gradient(0deg, rgba(0, 105, 255, 1) 0%, rgba(0, 122, 255, 0.97) 8.82%, rgba(0, 154, 255, 0.9) 28.13%, rgba(0, 174, 255, 0.84) 44.35%, rgba(0, 181, 255, 0.8) 55.41%, rgba(0, 181, 255, 0) 100%);
    background : -ms-linear-gradient(0deg, rgba(0, 105, 255, 1) 0%, rgba(0, 122, 255, 0.97) 8.82%, rgba(0, 154, 255, 0.9) 28.13%, rgba(0, 174, 255, 0.84) 44.35%, rgba(0, 181, 255, 0.8) 55.41%, rgba(0, 181, 255, 0) 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#0069FF', endColorstr='#00B5FF' ,GradientType=0)";
    background : linear-gradient(90deg, rgba(0, 105, 255, 1) 0%, rgba(0, 122, 255, 0.97) 8.82%, rgba(0, 154, 255, 0.9) 28.13%, rgba(0, 174, 255, 0.84) 44.35%, rgba(0, 181, 255, 0.8) 55.41%, rgba(0, 181, 255, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0069FF',endColorstr='#00B5FF' , GradientType=1);
    box-shadow: 0px 1px 13px 3px white;
}
  .tag{
    position: absolute;
    width: 210px;
    height: 540px;
    box-shadow: 0px 1px 17px -1px #00B5FF;
    border-radius:10px;
    left:20%;
    top:22.5%;
    background-color:white;
    font-weight: bolder;
    .up{
      position: absolute;
      top:-11%;
      z-index: -1;
      left: 50%;
      transform: translate(-50%)
    }
   
    .tag_title{
        font-size:20px;
        color:$subject-font-color;
        text-align:center;
        letter-spacing:4px;
        width:100%;
        position: absolute;
        top:4%;
    }
    .cir{
        background-size: contain;
        background-repeat: no-repeat;
        width: 100%;
        height: 300px;
        position: absolute;
        top:27%;
        
    }

    ul{
        position:absolute;
        color:$subject-font-color;
        bottom: 29%;
        left: 15%;
        position: absolute;
        color:$subject-font-color;
        bottom: 28%;
        left: 15%;    
    }
    button{
        position: absolute;
        width: 150px;
        height: 30px;
        left:15%;
        letter-spacing: 8px;
        background-color: #0069FF;
        color:$main-font-color;
        bottom:19%;
        z-index: 99;
        
       
        span{
            position: absolute;
            top:2px;
            left:29px;
        }
        img{
            position: absolute;
            top:8px;
            right:11px;
           
        }
    }
    .tag_line{
        position: absolute;
        bottom:22%;
        height: 2px;
        width: 100%;
        background : -moz-linear-gradient(50% -7860.39% 90deg,rgba(255, 255, 255, 0) 0%,rgba(246, 250, 255, 0.01) 0.74%,rgba(200, 223, 255, 0.05) 4.77%,rgba(157, 197, 255, 0.09) 9.31%,rgba(119, 175, 255, 0.14) 14.19%,rgba(87, 156, 255, 0.2) 19.5%,rgba(59, 140, 255, 0.25) 25.37%,rgba(37, 127, 255, 0.32) 32%,rgba(20, 117, 255, 0.4) 39.74%,rgba(9, 110, 255, 0.49) 49.31%,rgba(2, 106, 255, 0.63) 62.74%,rgba(0, 105, 255, 1) 100%);
        background : -webkit-linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(246, 250, 255, 0.01) 0.74%, rgba(200, 223, 255, 0.05) 4.77%, rgba(157, 197, 255, 0.09) 9.31%, rgba(119, 175, 255, 0.14) 14.19%, rgba(87, 156, 255, 0.2) 19.5%, rgba(59, 140, 255, 0.25) 25.37%, rgba(37, 127, 255, 0.32) 32%, rgba(20, 117, 255, 0.4) 39.74%, rgba(9, 110, 255, 0.49) 49.31%, rgba(2, 106, 255, 0.63) 62.74%, rgba(0, 105, 255, 1) 100%);
        background : -webkit-gradient(linear,50% -7860.39% ,50% -7897.3% ,color-stop(0,rgba(255, 255, 255, 0) ),color-stop(0.0074,rgba(246, 250, 255, 0.01) ),color-stop(0.0477,rgba(200, 223, 255, 0.05) ),color-stop(0.0931,rgba(157, 197, 255, 0.09) ),color-stop(0.1419,rgba(119, 175, 255, 0.14) ),color-stop(0.195,rgba(87, 156, 255, 0.2) ),color-stop(0.2537,rgba(59, 140, 255, 0.25) ),color-stop(0.32,rgba(37, 127, 255, 0.32) ),color-stop(0.3974,rgba(20, 117, 255, 0.4) ),color-stop(0.4931,rgba(9, 110, 255, 0.49) ),color-stop(0.6274,rgba(2, 106, 255, 0.63) ),color-stop(1,rgba(0, 105, 255, 1) ));
        background : -o-linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(246, 250, 255, 0.01) 0.74%, rgba(200, 223, 255, 0.05) 4.77%, rgba(157, 197, 255, 0.09) 9.31%, rgba(119, 175, 255, 0.14) 14.19%, rgba(87, 156, 255, 0.2) 19.5%, rgba(59, 140, 255, 0.25) 25.37%, rgba(37, 127, 255, 0.32) 32%, rgba(20, 117, 255, 0.4) 39.74%, rgba(9, 110, 255, 0.49) 49.31%, rgba(2, 106, 255, 0.63) 62.74%, rgba(0, 105, 255, 1) 100%);
        background : -ms-linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(246, 250, 255, 0.01) 0.74%, rgba(200, 223, 255, 0.05) 4.77%, rgba(157, 197, 255, 0.09) 9.31%, rgba(119, 175, 255, 0.14) 14.19%, rgba(87, 156, 255, 0.2) 19.5%, rgba(59, 140, 255, 0.25) 25.37%, rgba(37, 127, 255, 0.32) 32%, rgba(20, 117, 255, 0.4) 39.74%, rgba(9, 110, 255, 0.49) 49.31%, rgba(2, 106, 255, 0.63) 62.74%, rgba(0, 105, 255, 1) 100%);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#0069FF' ,GradientType=0)";
        background : linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(246, 250, 255, 0.01) 0.74%, rgba(200, 223, 255, 0.05) 4.77%, rgba(157, 197, 255, 0.09) 9.31%, rgba(119, 175, 255, 0.14) 14.19%, rgba(87, 156, 255, 0.2) 19.5%, rgba(59, 140, 255, 0.25) 25.37%, rgba(37, 127, 255, 0.32) 32%, rgba(20, 117, 255, 0.4) 39.74%, rgba(9, 110, 255, 0.49) 49.31%, rgba(2, 106, 255, 0.63) 62.74%, rgba(0, 105, 255, 1) 100%);
        opacity : 0.4;
        filter: alpha(opacity=40) progid:DXImageTransform.Microsoft.Alpha(opacity=40) progid:DXImageTransform.Microsoft.gradient(startColorstr='#0069FF',endColorstr='#FFFFFF' , GradientType=0);
    }
    .tag_cont{
        position: absolute;
        bottom:10%;
        width:100%;
        text-align: center;
    }
  }
  .tag2{
    @extend .tag;
    left:36%;
  
  }
  .tag3{
      @extend .tag;
      left:52%;
  }
  .tag4{
      @extend .tag;
      left:68%;
      .tag_titile{
          left:15%;
      }
      ul{
          bottom:42%;
          left:8%;
      }
  }
}
  .footer {
    width: 100%;
    position: fixed;
    background-color: white;
    color:black;
    z-index:9999999;
    h6{
        padding:10px ;
    }
  }
