$main-font-color:white;
$subject-font-color:#7C7C7C;
body{
    
	background : -moz-linear-gradient(-276.4% -252.45% 0deg,rgba(26, 46, 145, 1) 0%,rgba(26, 50, 147, 1) 0.27%,rgba(28, 82, 162, 1) 2.53%,rgba(30, 109, 175, 1) 5.06%,rgba(32, 131, 185, 1) 7.94%,rgba(33, 148, 193, 1) 11.32%,rgba(33, 159, 199, 1) 15.49%,rgba(34, 166, 202, 1) 21.33%,rgba(34, 168, 203, 1) 37.57%,rgba(26, 46, 145, 1) 100%);
	background : -webkit-linear-gradient(0deg, rgba(26, 46, 145, 1) 0%, rgba(26, 50, 147, 1) 0.27%, rgba(28, 82, 162, 1) 2.53%, rgba(30, 109, 175, 1) 5.06%, rgba(32, 131, 185, 1) 7.94%, rgba(33, 148, 193, 1) 11.32%, rgba(33, 159, 199, 1) 15.49%, rgba(34, 166, 202, 1) 21.33%, rgba(34, 168, 203, 1) 37.57%, rgba(26, 46, 145, 1) 100%);
	background : -webkit-gradient(linear,-276.4% -252.45% ,-216.11% -252.45% ,color-stop(0,rgba(26, 46, 145, 1) ),color-stop(0.0027,rgba(26, 50, 147, 1) ),color-stop(0.0253,rgba(28, 82, 162, 1) ),color-stop(0.0506,rgba(30, 109, 175, 1) ),color-stop(0.0794,rgba(32, 131, 185, 1) ),color-stop(0.1132,rgba(33, 148, 193, 1) ),color-stop(0.1549,rgba(33, 159, 199, 1) ),color-stop(0.2133,rgba(34, 166, 202, 1) ),color-stop(0.3757,rgba(34, 168, 203, 1) ),color-stop(1,rgba(26, 46, 145, 1) ));
	background : -o-linear-gradient(0deg, rgba(26, 46, 145, 1) 0%, rgba(26, 50, 147, 1) 0.27%, rgba(28, 82, 162, 1) 2.53%, rgba(30, 109, 175, 1) 5.06%, rgba(32, 131, 185, 1) 7.94%, rgba(33, 148, 193, 1) 11.32%, rgba(33, 159, 199, 1) 15.49%, rgba(34, 166, 202, 1) 21.33%, rgba(34, 168, 203, 1) 37.57%, rgba(26, 46, 145, 1) 100%);
	background : -ms-linear-gradient(0deg, rgba(26, 46, 145, 1) 0%, rgba(26, 50, 147, 1) 0.27%, rgba(28, 82, 162, 1) 2.53%, rgba(30, 109, 175, 1) 5.06%, rgba(32, 131, 185, 1) 7.94%, rgba(33, 148, 193, 1) 11.32%, rgba(33, 159, 199, 1) 15.49%, rgba(34, 166, 202, 1) 21.33%, rgba(34, 168, 203, 1) 37.57%, rgba(26, 46, 145, 1) 100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#1A2E91', endColorstr='#1A2E91' ,GradientType=0)";
	background : linear-gradient(90deg, rgba(26, 46, 145, 1) 0%, rgba(26, 50, 147, 1) 0.27%, rgba(28, 82, 162, 1) 2.53%, rgba(30, 109, 175, 1) 5.06%, rgba(32, 131, 185, 1) 7.94%, rgba(33, 148, 193, 1) 11.32%, rgba(33, 159, 199, 1) 15.49%, rgba(34, 166, 202, 1) 21.33%, rgba(34, 168, 203, 1) 37.57%, rgba(26, 46, 145, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1A2E91',endColorstr='#1A2E91' , GradientType=1);      
}
.anavbar{
	background : -moz-linear-gradient(0% 50% 0deg,rgba(26, 46, 145, 1) 0%,rgba(26, 52, 148, 1) 1.43%,rgba(28, 72, 158, 1) 7.67%,rgba(29, 86, 165, 1) 14.78%,rgba(30, 94, 169, 1) 23.41%,rgba(30, 97, 170, 1) 37.84%,rgba(33, 151, 195, 1) 84.79%,rgba(34, 169, 204, 1) 100%);
	background : -webkit-linear-gradient(0deg, rgba(26, 46, 145, 1) 0%, rgba(26, 52, 148, 1) 1.43%, rgba(28, 72, 158, 1) 7.67%, rgba(29, 86, 165, 1) 14.78%, rgba(30, 94, 169, 1) 23.41%, rgba(30, 97, 170, 1) 37.84%, rgba(33, 151, 195, 1) 84.79%, rgba(34, 169, 204, 1) 100%);
	background : -webkit-gradient(linear,0% 50% ,100% 50% ,color-stop(0,rgba(26, 46, 145, 1) ),color-stop(0.0143,rgba(26, 52, 148, 1) ),color-stop(0.0767,rgba(28, 72, 158, 1) ),color-stop(0.1478,rgba(29, 86, 165, 1) ),color-stop(0.2341,rgba(30, 94, 169, 1) ),color-stop(0.3784,rgba(30, 97, 170, 1) ),color-stop(0.8479,rgba(33, 151, 195, 1) ),color-stop(1,rgba(34, 169, 204, 1) ));
	background : -o-linear-gradient(0deg, rgba(26, 46, 145, 1) 0%, rgba(26, 52, 148, 1) 1.43%, rgba(28, 72, 158, 1) 7.67%, rgba(29, 86, 165, 1) 14.78%, rgba(30, 94, 169, 1) 23.41%, rgba(30, 97, 170, 1) 37.84%, rgba(33, 151, 195, 1) 84.79%, rgba(34, 169, 204, 1) 100%);
	background : -ms-linear-gradient(0deg, rgba(26, 46, 145, 1) 0%, rgba(26, 52, 148, 1) 1.43%, rgba(28, 72, 158, 1) 7.67%, rgba(29, 86, 165, 1) 14.78%, rgba(30, 94, 169, 1) 23.41%, rgba(30, 97, 170, 1) 37.84%, rgba(33, 151, 195, 1) 84.79%, rgba(34, 169, 204, 1) 100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#1A2E91', endColorstr='#22A9CC' ,GradientType=0)";
	background : linear-gradient(90deg, rgba(26, 46, 145, 1) 0%, rgba(26, 52, 148, 1) 1.43%, rgba(28, 72, 158, 1) 7.67%, rgba(29, 86, 165, 1) 14.78%, rgba(30, 94, 169, 1) 23.41%, rgba(30, 97, 170, 1) 37.84%, rgba(33, 151, 195, 1) 84.79%, rgba(34, 169, 204, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1A2E91',endColorstr='#22A9CC' , GradientType=1);
}
.b_b{
    border-bottom: 1px solid black;
}
.cont{
    width:75%;
    margin-left:15%;
    margin-top:147px;
    
    .title{
        color:$main-font-color;
        font-weight: bolder;
        letter-spacing:10px;
        font-size:18px;
        img{
            margin-right:10px;
        }
        span{
            padding-left:10px;
        }
    }
    .line{
        height:3px;
        background: white;
        margin-top:18px;
        box-shadow: 0px 1px 13px 3px white;
    }
    .box{
        text-align: center;
        font-size:22px;
        color:$main-font-color;
        input{
            border-radius: 11px;
            width:608px;
            height:50px;
            margin-bottom: 17px;
            box-shadow: 0px 1px 13px 3px white;
            text-align:center;
        }
        button{ 
            border-radius: 11px;
            width:608px;
            height:50px;
            background: #0069FF;
            font-size:22.8px;
            color:$main-font-color;
            box-shadow: 0px 1px 13px 3px white;
        }
    }
    .ptt{
        position: absolute;
        top:70px;
        left:0;
       
    }
    .face{
        right:58px;
        position: absolute;
        top:47px;
    }
    .twitter{
        left:0;
        position: absolute;
        bottom: 100px;
    }
    .wei{
        right:58px;
        position: absolute;
        bottom: 165px;
    }
}
.footer{
    background-color:blue;
    position:static;
}